nav {
	width: 100%;
	height: 3.125rem;
	/* background-color: #ffc; */
	background-color: #c8d6e5;
	font-size: 1.6rem;
	line-height: 3.125rem;
	font-family: sans-serif;
}

.center {
	position: absolute;
	display: flex;
	width: 80%;
	height: inherit;
	left: 50%;
	transform: translate(-50%, 0);
}

.center a {
	display: inline-block;
	height: inherit;
	color: #000;
	text-decoration: none;
}

#logo {
	width: 18rem;
	height: 100%;
}

#logo img {
	border-radius: 3.125rem;
}

#logo span {
	float: right;
	margin-right: 1.6rem;
	line-height: 3.125rem;
	font-style: italic;
}

#option {
	display: flex;
	width: 15rem;
	height: 100%;
	margin-left: 2.3rem;
	text-align: center;
	justify-content: space-between;
}

#option a {
	width: 45%;
	height: 100%;
	font-size: 1.6rem;
	transition: background-color .3s;
}

#option a:hover {
	background-color: #8395a777;
	background-color: rgba(131, 149, 167,.45);
}

#motto {
	position: absolute;
	width: 28rem;
	padding: 0 1rem;
	right: 0;
	font-style: italic;
	font-size: 0.9rem;
	text-transform: capitalize;
	text-align: center;
}

#person {
	float: right;
}

@media all and (max-width:1350px) {
	#motto {
		right: -4rem;
	}
}

/* 手机端自适应 */
@media all and (max-width:800px) {
	#logo img {
		display: none;
	}

	#motto {
		display: none;
	}

	#option {
		width: 3.125rem;
		height: 3.125rem;
		margin-left: 0.7rem;
		background-image: url(../images/logo.png);
		background-size: 50px;
		background-repeat: no-repeat;
		transition: all .3s;
		flex-direction: column;
		border-radius: 1.5625rem;
	}

	#option a {
		background-size: 2.5rem;
		background-repeat: no-repeat;
		background-position: center;
		display: none;
	}

	#option a:hover {
		background-color: transparent;
	}

	#option:hover {
		background-position: center top;
		background-size: 0;
		height: 10rem;
		background-color: #bca;
	}
}

#option .mobileLink {
	width: 3.125rem;
	height: 3.125rem;
}
