$px: 100vw/1600;
body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	// background-image: url(../images/board.jpg);
}
main {
	position: relative;
	width: 80vw;
	height: 100vh;
	display: inline-block;
	canvas {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
}
.right {
	position: relative;
	width: 20vw;
	height: 100%;
	text-align: center;
	background-color: azure;
	float: right;
	h1 {
		font-size: 30 * $px;
	}
	#curinfo {
		padding: 5 * $px;
		font-size: 20 * $px;
		font-weight: bold;
	}
	#replay {
		position: absolute;
		width: 120 * $px;
		height: 28 * $px;
		line-height: 28 * $px;
		font-size: 24 * $px;
		left: 0;
		right: 0;
		margin: 0 auto;
		bottom: 50 * $px;
		cursor: pointer;
	}
}
.info {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0 * $px;
	height: 200 * $px;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 25 * $px;
	padding-top: 15 * $px;
	z-index: 999;
	font-size: 28 * $px;
	text-align: center;
	color: #000;
	// background-color: #37f;
	background-color: #eee;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	.confrim {
		width: 100 * $px;
		color: #000;
		margin-bottom: 20 * $px;
		font-weight: bold;
		cursor: pointer;
		&:hover {
			text-shadow: 0 0 1 * $px rgba(0, 0, 0, 0.2);
		}
	}
}
#cover {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #eee;
	background-image: url(../images/board.jpg);
	background-position: center;
	background-size: cover;
	font-family: '宋体', serif;
	// justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: transform 1s;
	h1 {
		width: max-content;
		font-size: 150 * $px;
		color: #000;
		// background-color: #ddd;
	}
	.btn {
		font-size: 28 * $px;
		width: 200 * $px;
		height: 45 * $px;
		line-height: 45 * $px;
		padding: 5 * $px;
		margin: 12 * $px;
		border-radius: 45 * $px;
		box-shadow: 3 * $px 3 * $px 3 * $px 2 * $px rgba($color: #000000, $alpha: 0.4);
		text-align: center;
		color: #000;
		background-color: #eee;
		a {
			color: #000;
			text-decoration: none;
		}
	}
}
#settingBox {
	position: absolute;
	top: 50%;
	left: 50%;
	box-sizing: border-box;
	padding: 22px;
	width: 750 * $px;
	height: 500 * $px;
	font-size: 22px;
	border-radius: 50 * $px;
	border: 8 * $px #fff solid;
	transform: translate(-50%, -50%);
	color: #000;
	background-color: #eee;
	// display: flex;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	#setNumber,
	#setAll {
		cursor: pointer;
	}
	#setAll {
		margin-bottom: 15px;
	}
}
@keyframes show {
	from {
		width: 0 * $px;
	}
	to {
		width: 400 * $px;
	}
}
