// inital theme color : BLUE
$main-color: #39bae8;
$pass-color: #0086cf;
$side-color: #a3daff;
$list-color: #1ec0ff;
main,
#show-theme-field {
	background-color: $main-color;
}
#progress-bar {
	border-color: $main-color;
}
#passed-bar,
div#volume {
	background-color: $pass-color;
}
#volumn-control-bar::-webkit-slider-thumb {
	background: darken($color: $pass-color, $amount: 10%);
}
#volumn-control-bar::-moz-range-thumb {
	background: darken($color: $pass-color, $amount: 10%);
}
#volumn-control-bar::-ms-thumb {
	background: darken($color: $pass-color, $amount: 10%);
}
#left,
#right {
	background-color: $side-color;
}
#cover-list {
    background-color: $list-color;
}
